<footer class="container py-5">
  <div class="row">
      <div class="col-12 col-md-3 mb-3">
          <img src="assets/Gallop-Project-Logo.svg" alt="Gallop small logo" style="height: 24px;">
          <small class="d-block text-muted mt-2">&copy; 2025 Gallop Inc.</small>
      </div>
      <div class="col-6 col-md-3 mb-3">
          <h5>Spaces</h5>
          <ul class="list-unstyled text-small">
              <li><a class="link-secondary text-decoration-none" href="#">Solo</a></li>
              <li><a class="link-secondary text-decoration-none" href="#">Table</a></li>
              <li><a class="link-secondary text-decoration-none" href="#">Board Room</a></li>
          </ul>
      </div>
      <div class="col-6 col-md-3 mb-3">
          <h5>Company</h5>
          <ul class="list-unstyled text-small">
              <li><a class="link-secondary text-decoration-none" href="#">About Us</a></li>
              <li><a class="link-secondary text-decoration-none" href="#">Contact</a></li>
          </ul>
      </div>

      <div class="col-6 col-md-3 mb-3">
          <h5>Resources</h5> 
          <ul class="list-unstyled text-small">
              <li><a class="link-secondary text-decoration-none" href="#">Blog</a></li>
              <li><a class="link-secondary text-decoration-none" href="#">Privacy Policy</a></li>
              <li><a class="link-secondary text-decoration-none" href="#">Terms of Use</a></li>
          </ul>
      </div>

      <div class="col-6 col-md-3 mb-3">
        <h5>Resources</h5> 
        <ul class="list-unstyled text-small">
            <li><a class="link-secondary text-decoration-none" href="#">Blog</a></li>
            <li><a class="link-secondary text-decoration-none" href="#">Privacy Policy</a></li>
            <li><a class="link-secondary text-decoration-none" href="#">Terms of Use</a></li>
        </ul>
     </div>
      </div>
</footer>