<header>
    <nav id="mainNav" class="navbar navbar-expand-lg navbar-light bg-white shadow-sm fixed-top py-2">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="assets/Gallop-Project-Logo.svg" alt="Gallop Logo" style="height: 40px;" class="d-inline-block align-text-top me-2">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto navbar-nav-centered fw-bold">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="our-spaces.html">Our Spaces</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="btn btn-outline-dark btn-sm rounded-pill px-4" href="login.php">Login</a>
                    </li>
                    <li class="nav-item ms-lg-2">
                         <a class="btn btn-primary btn-sm rounded-pill px-4" href="signup.php">Join</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>