<nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="assets/Gallop-Project-Logo.svg" alt="Gallop" height="30">
      </a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto navbar-nav-centered">
          <li class="nav-item">
            <a class="nav-link" href="#">Spaces</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Locations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
        
        <div class="d-flex align-items-center gap-3">
          <a href="#" class="btn btn-outline-dark btn-sm px-4 rounded-pill">Log In</a>
          <a href="#" class="btn btn-primary btn-sm px-4 rounded-pill">Join Now</a>
        </div>
      </div>
    </div>
  </nav>